[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ipolygrowth"]
	path = ipolygrowth
	url = https://github.com/kivanvan/ipolygrowth
